---
import Card from './Card.astro'
---

<Card
  title="Estudio Longitudinal"
  url="#section-long">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span class="text-warning fw-bold">Próximamente</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Estado:</span> En construcción.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Tipo de estudio:</span> Intervención.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Duración:</span> 6 meses.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Pobación objetivo:</span> Población migrante latinoaméricana en España.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Descripción:</span> Participación en un estudio-intervención que combina el acceso a materiales de intervención con la realización de encuestas sobre bienestar, síntomas, niveles de estrés y estados emocionales en cuatro momentos distintos.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Recompensa:</span> <span class="text-bg-warning">XXXXX</span>.
      </p>
    </div>
  </div>
</Card>
