---
import Card from './Card.astro'
---

<Card
  title="Estudio Co-creación"
  url="#section-crea">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span class="text-success fw-bold">Abierto</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Estado:</span> Reclutamiento.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Tipo de estudio:</span> Participativo / Co-creación.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Duración:</span> 6 reuniones de 90 minutos.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Pobación objetivo:</span> Población migrante latinoamericana, así como profesionales que trabajen con este colectivo.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Descripción:</span> Reuniones colaborativas para co-crear diferentes elementos clave del proyecto (p. ej., el diseño de la futura app Reconnected).
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Recompensa:</span> 20€.
      </p>
    </div>
  </div>
</Card>
