---
import Card from './Card.astro'
---

<Card
  title="Estudio CEMA"
  url="#section-cema">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span class="text-success fw-bold">Abierto</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Estado:</span> Reclutamiento.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Tipo de estudio:</span> Evaluación.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Duración:</span> 15 días.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Pobación objetivo:</span> Población migrante latinoaméricana en España.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Descripción:</span> Participación en un estudio que incluye responder una encuesta inicial sobre bienestar, síntomas, niveles de estrés y estados emocionales. Posteriormente, se completará una serie de encuestas breves (de máximo 3 minutos) distribuidas a lo largo del día durante 14 días, centradas en estos mismos aspectos.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Recompensa:</span> Tarjeta regalo con un valor de 50 €.
      </p>
    </div>
  </div>
</Card>
