---
const { title, url } = Astro.props;
---

<style is:global>
.card-studies-indent {
  text-indent: var(--bs-body-font-size) hanging;
}

@media (max-width: 768px) {
  .card-studies-indent {
    text-indent: var(--bs-body-font-size) none;
  }
}
</style>

<style>
.card {
  width: 75%;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 100%;
  }
}
</style>

<div
  class="card text-center mx-auto mb-5">
  <h4 class="card-header text-center">{title}</h4>

  <div class="card-body text-start">
    <slot />
  </div>

  <div class="card-footer">
    <a href={url} class="btn btn-primary">Saber más</a>
  </div>
</div>
